@model DataAccess.Models.Product_Images
<li>
    <a href="#" data-rel="colorbox" class="cboxElement">
        <img width="150" height="150" alt="150x150" src="@Model.file_path">
    </a>
    <div class="tools tools-top right ">
        <a href="#" data-id="@Model.id" class="deleteImages">
            <i class="ace-icon fa fa-times red"></i>
        </a>
    </div>
</li>
